body {
    background: #232323;
  }
  
  .hidden {
    display: none;
  }
  
  .github {
    top: 3%;
    right: 10px;
    position: fixed;
    border-radius: 10px;
    background: #fff;
    padding: 0 12px 6px 12px;
    border: 1px solid #232323;
  }
  
  .github a:hover,
  .github a:link,
  .github a:visited,
  .github a:active {
    color: #232323;
    text-decoration: none;
  }
  
  .github img {
    height: 30px;
  }
  
  .github #gh-project {
    font-size: 20px;
    padding-left: 5px;
    font-weight: bold;
    vertical-align: bottom;
  }
  
