@import url("./fonts/Lato-Black.ttf");
/* Light Palette 
    -#232323 Black
    -#fff White
*/
body {
  --ColorA: #232323;
  --ColorB: #fff;
    background: var(--ColorA);
  }
  
  .hidden {
    display: none;
  }
  
  .github {
    top: 3%;
    right: 10px;
    position: fixed;
    border-radius: 10px;
    background: var(--ColorB);
    padding: 6px 12px 6px 12px;
    border: 1px solid var(--ColorA);
  }
  
  .github a:hover,
  .github a:link,
  .github a:visited,
  .github a:active {
    color: var(--ColorA);
    text-decoration: none;
  }
  
  .github img {
    height: 30px;
  }
  
  .github #gh-project {
    font-size: 20px;
    padding-left: 5px;
    font-weight: bold;
    vertical-align: bottom;
    font-family: 'Lato', sans-serif;
  }
  
